[submodule "hardware/gc_STM32G491CET6/hardware/gc_STM32G491CET6/witns_kicad_lib"]
	path = hardware/gc_STM32G491CET6/hardware/gc_STM32G491CET6/witns_kicad_lib
	url = https://github.com/lfiack/witns_kicad_lib
